.navbar-brand {
    background-color: #023b5e;
    padding: 10px;
}

.navbar-brand img {
    height: 60px;
}

.sidenav-header {
    background-color: #023b5e;
    padding: 5px 0;
}

.navbar-brand {
    background-color: #023b5e;
    padding: 10px;
}

.navbar-brand img {
    height: 60px;
}

.page-wrapper {
    padding: 25px;
    background: #edf1f5;
}

.attandence-section {
    padding: 25px;
    background: #fff;
}

.faculty-search {
    margin-bottom: 30px;
}

.faculty-details {
    overflow-y: scroll;
    height: 500px;
}

.faculty-details table tbody tr td img {
    height: 30px;
    border-radius: 50%;
}

.faculty-search .form-control,
.faculty-search .input-group-text,
.faculty-search .input-group-append {
    background: #edf1f5;
}

.form-control:focus {
    border-color: #edf1f5;
}

.navbar-brand {
    background-color: #023b5e;
    padding: 10px;
}

.navbar-brand img {
    height: 60px;
}

.page-wrapper {
    padding: 25px;
    background: #edf1f5;
}

.attandence-section {
    padding: 25px;
    background: #fff;
}

.faculty-search {
    margin-bottom: 30px;
}

.faculty-details {
    overflow-y: scroll;
    height: 500px;
}

.faculty-details table tbody tr td img {
    height: 30px;
    border-radius: 50%;
}

.faculty-search .form-control,
.faculty-search .input-group-text,
.faculty-search .input-group-append {
    background: #edf1f5;
}

.form-control:focus {
    border-color: #edf1f5;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #023b5e !important;
    font-weight: 600;
}